/* General Styling */
html {
	width: 800px;
	height: 600px;
	padding: 30px 50px;
}
a {
	cursor: pointer;
}

.node:hover, .node:hover + ul .node {
	background-color: rgba(140, 193, 82,0.3);
}

ul {
	list-style-type: none;
}

.loading {
	position: fixed;
	display: block;
	text-align: center;
	font-size: 5em;
	color: #8cc152;
}

/* Tree Styling */
.tree {
	display: inline-block;
}
.tree > ul ul {
	
	padding-left: 50px;
	margin-left: 10px
}
.tree li {
	margin: 15px 0px;
	position: relative;
}
.tree .node {
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 3px 6px;
	white-space: nowrap;
}
.tree > ul ul li:not(:last-of-type):after {
	position: absolute;
	content: '';
	border-left: solid 1px #ccc;
	height: calc(100% + 15px);
	left: -50px;
	top: -11px;
}
.tree > ul ul li:last-of-type:after {
	position: absolute;
	content: '';
	border-left: solid 1px #ccc;
    height: 17px;
    left: -50px;
    top: -11px;
}
.tree > ul ul li:before {
	position: absolute;
	content: '';
	border-bottom: solid 1px #ccc;
	height: 0px;
	width: 50px;
	left: -50px;
	top: 5px;
}

/* Node Hover */
.node:hover + ul li:not(:last-of-type):after {
	border-left: solid 2px #eb5a46;
}
.node:hover + ul li:last-of-type:after {
	border-left: solid 2px #eb5a46;
}
.node:hover + ul li:before {
	border-bottom: solid 2px #eb5a46;
	
}

/* Details Styling */
#details {
	position: fixed;
	background-color: white;
	padding: 10px 20px;
	top: 20px;
	right: 20px;
	width: 200px;
	border: solid 1px #ccc;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.22);
	transition: 1s;
}

#details h1 {
	text-align: center;
	color: #8cc152;
}

#details h2 {
	text-align: center;
}

#details strong {
	color: #ccc;
}

#details a {
	display: block;
	color: #8cc152;
	text-align: center;
}
